<div class="row">
	<div class="col-sm-6">
		<div class="col-md-4">
			<img src="img/lamaison.jpeg" class="img-fluid rounded-start" alt="maison illustration">
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">LA MAISON</h5>
				<p class="card-text">Les kits zéro déchet débutant pour l’entretien de la maison.</p>
				<a href="#" class="btn btn-primary">Découvrir</a>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="col-md-4">
			<img src="img/chanvreprjt.jpg" class="img-fluid rounded-start" alt="">
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">BAR VÉGÉTAL</h5>
				<p class="card-text">..............................</p>
				<a href="#" class="btn btn-primary">Découvrir</a>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="col-md-4">
			<img src="https://picsum.photos/2000" class="img-fluid rounded-start" alt="...">
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">LE CORPS</h5>
				<p class="card-text">Les kits zéro déchet débutant pour l’entretien de la maison.</p>
				<a href="#" class="btn btn-primary">Découvrir</a>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="col-md-4">
			<img src="https://picsum.photos/2000" class="img-fluid rounded-start" alt="...">
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">RAYON FRAIS</h5>
				<p class="card-text">Les kits zéro déchet débutant pour l’entretien de la maison.</p>
				<a href="#" class="btn btn-primary">Découvrir</a>
			</div>
		</div>
	</div>
</div>
